<!doctype html>
<html lang="en">
<head>
  {%- include 'layouts/application/csrf' -%}
  {%- include 'layouts/application/prefetch' -%}
  {%- include 'layouts/application/meta-tags' -%}
  {%- include 'layouts/application/favicon' -%}
  {%- include 'layouts/application/stylesheets' -%}
  {%- include 'layouts/application/preload' -%}
  {%- include 'layouts/application/fonts' -%}
  {%- include 'layouts/application/page-title' -%}
  {%- include 'layouts/application/page-description' -%}

  {%- yield 'head_content' -%}
</head>

<body>
  {%- include 'layouts/application/header' -%}

  <main>
    {{ content_for_layout }}
  </main>

  {%- include 'layouts/application/footer' -%}
  {%- include 'layouts/application/javascripts' -%}
</body>
</html>
